@use "@microsoft/atlas-css/src/index.scss" as *;
.field-checkbox {
  .checkbox-option {
    @extend .checkbox;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;

    .check-square {
      @extend .checkbox-check;
    }
  }
}
