//:root { --accent: #f48024; }

.field-radio {

  .radio-option {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    input[type='radio'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      appearance: auto;
      accent-color: var(--accent);
      cursor: pointer;
      opacity: 1;
    }

    .check-circle { display: none; }
  }
}

@media (prefers-color-scheme: dark) {
  .field-radio .radio-option input[type='radio'] {
    accent-color: var(--accent);
  }
}
