@use "@microsoft/atlas-css/src/index.scss" as *;
.field-radio {
  .radio-option {
    @extend .radio;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    user-select: none;

    .check-circle {
      @extend .radio-dot;
    }
  }
}
