@use "@microsoft/atlas-css/src/index.scss" as *;
.field-secret {
  .input-button-container {
    width: 100%;
    display: flex;

    button {
      @extend .button;
      flex: 0 0 auto;
    }

    input {
      @extend .input;
      flex: 1 0 auto;
    }
  }
}

.secret-modal {
  input {
    @extend .input;
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    button {
      @extend .button;
      flex: 0 0 auto;
    }
  }
}

.ReactModalPortal {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ReactModalPortal > * {
  transform: translate(0, -100%);
}

.ReactModal__Overlay {
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 100ms ease-in-out;
  opacity: 0;
  &--after-open {
    transform: translate(0, 0%);
    opacity: 1;
  }
  &--before-close {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

.ReactModal__Content {
  border-radius: 8px !important;
}
