.sidebar {
    list-style: none;
    height: 100%;
    min-height: 100%;
    width: 199px;
    min-width: 199px;
    max-width: 199px;
    //border-right: 1px solid #B8B8B9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f3f3;
    padding: 0;
    margin: 0;
    padding-top: 16px;

    .sidebar-section {
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        //width: 199px;
        //min-width: 199px;
        //max-width: 199px;
        box-sizing: border-box;
        overflow: hidden;
        padding: 6px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        //font-weight: 600;
        cursor: pointer;
        outline: none;


        border-radius: 4px;
        transition: background .15s;

        &.active {
            background-color: #eaeaea;
            color: #2d2c2e;
            //font-weight: bold;

            .section-icon {
                background-color: #2d2c2e;
            }
        }

        &:focus {
            background-color: #eaeaea;
            //border: 1px solid #464646;
        }

        &:hover {
            background-color: #eaeaea;
        }

        .section-icon {
            background-color: #2d2c2e;
            margin-left: 8px;
            margin-right: 8px;
            width: 30px;
            max-width: 30px;
            min-width: 30px;
            height: 30px;
            max-height: 30px;
            min-height: 30px;
        }

        .section-label {
            font-size: 13px;
        }

    }

    &::-webkit-scrollbar
    {
        width: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #202020;

        .sidebar-section {
            color: #fdfdfd;

            .section-icon {
                background-color: #fdfdfd;
            }

          &.active {
            background-color: #424246;
            color: #ffffff;
            //font-weight: bold;

            .section-icon {
              background-color: #ffffff;
            }
          }

          &:focus {
            background-color: #424246;
            //border: 1px solid #464646;
          }

          &:hover {
            background-color: #424246;
          }
        }

    }
}
