@use "@microsoft/atlas-css/src/index.scss" as *;
.field-list {
  .ep-list {
    @extend .select;
    min-width: 25%;
  }

  .ep-list-button-container {
    margin-top: 10px;
  }

  .ep-list-button {
    @extend .button;
  }

  .ep-list-button-text {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.ep-list-modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
}

.ep-list-modal-input-container {
  .ep-list-modal-input {
    @extend .input;
    display: block;
    width: 100%;
  }
  .ep-list-modal-input-label {
    display: block;
    font-weight: bold;
  }
}

.ep-list-modal-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ep-list-modal-button {
  @extend .button;
  flex: 0 1 auto;
  margin: 3px;
}

.ReactModalPortal {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ReactModalPortal > * {
  transform: translate(0, -100%);
}

.ReactModal__Overlay {
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 100ms ease-in-out;
  opacity: 0;
  &--after-open {
    transform: translate(0, 0%);
    opacity: 1;
  }
  &--before-close {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

.ReactModal__Content {
  border-radius: 8px !important;
}
